/*
	# color scheme

	red: #CB4A58;
	dark-blue: #31373F;
	blue: #0967AD;
	yellow: #FAAF3F;
*/

html, body {
	padding-top: 50px;
	background: #eee;
}

.navbar.navbar-canari {
	background-color: #31373F;
}

.navbar-canari .navbar-brand {
	color: #FFF !important;
}

.navbar-icon {
	position: absolute;
	left: 20px;
	top: 10px;
}

a[role=button], div[role=button] {
	cursor: pointer;
}