/*
	# color scheme

	red: #CB4A58;
	dark-blue: #31373F;
	blue: #0967AD;
	yellow: #FAAF3F;
*/

html, body {
	padding-top: 50px;
	background: #fff;
}

.navbar.navbar-canari {
	background-color: #31373F;
}

.navbar-canari .navbar-brand {
	color: #FAAF3F !important;
}

.list-group-item-canari.active, 
.list-group-item-canari.active:focus, 
.list-group-item-canari.active:hover {
	background-color: #0967AD;
	border-color: #0967AD;
}

.navbar-icon {
	position: absolute;
	left: 20px;
	top: 10px;
}

a[role=button], div[role=button] {
	cursor: pointer;
}

.label-list a {
	margin-right: 3px;
}

.label-canari {
	background-color: #CB4A58;
}